[Unit]
Description=Boostd service

[Service]
Environment=GOLOG_LOG_FMT="json"
Environment=RUST_LOG=info
Environment=GOLOG_FILE=/var/log/lotus/boostd.log
Environment=BOOST_PATH={{ BOOST_PATH }}
Environment=FULLNODE_API_INFO={{ FULLNODE_API_INFO }}
ExecStartPre=-/bin/mkdir -p /var/log/boost {{ BOOST_PATH }}/deal-staging
ExecStart=/bin/bash -c '/usr/local/bin/boostd -vv run > /var/log/boost/boostd.log 2>&1'
Restart=always
RestartSec=10
Nice=-20
LimitNICE=-20
LimitNOFILE=100000:1048576
LimitCORE=infinity
LimitCORE=1024
LimitNPROC=819200:1048576
Delegate=yes
User=root

[Install]
WantedBy=multi-user.target
