export FULLNODE_API_INFO={{ FULLNODE_API_INFO }}
export MINER_API_INFO={{ MINER_API_INFO }}
export APISEALER={{ APISEALER }}
export APISECTORINDEX={{ APISECTORINDEX }}
export PUBLISH_STORAGE_DEALS_WALLET={{ PUBLISH_STORAGE_DEALS_WALLET }}
export COLLAT_WALLET={{ COLLAT_WALLET }}
export BOOST_PATH={{ BOOST_PATH }}
