[Unit]
Description=Spacemesh Test Client
After=syslog.target network.target

[Service]
Restart=always
RestartSec=10s
ExecStartPre=-/bin/mkdir -p /var/log/spacemesh
ExecStart=sh -c '/usr/local/bin/go-spacemesh --preset=standalone --accounts {{ SPACEMESH_ACCOUNT_TESTNET }}=100000000000000 --genesis-time={{ DATE.stdout }}.000Z >> /var/log/spacemesh/spacemesh.log'

[Install]
WantedBy=multi-user.target

