port = 8888
release = true              # when work in release mode: set this to true, otherwise to false and enviornment variable GIN_MODE not to release

[lotus]
client_api_url="http://{{ LOTUS_IP }}:{{ LOTUS_PORT }}/rpc/v0"
client_api_token="{{ SWAN_CLIENT_API_TOKEN }}"
market_api_url="{{ SWAN_MARKET_API_URL }}"
market_access_token="{{ MINER_ACCESS_TOKEN }}"
max_sealing = 5
max_addPiece = 2

[aria2]
aria2_candidate_dirs = [{{ ARIA2_CANDIDATE_DIRS }}]
aria2_download_dir = "/home/test/download/car"
aria2_host = "127.0.0.1"
aria2_port = 6800
aria2_secret = "my_aria2_secret"
aria2_max_downloading_tasks = 100
aria2_auto_delete_car_file = false

[main]
market_version = "{{ MARKET_VERSION }}"
api_url = "https://go-swan-server.filswan.com"
api_key = "{{ SWAN_KEY }}"
access_token = "{{ SWAN_TOKEN }}"
miner_fid = "{{ MINERID }}"
import_interval = {{ IMPORT_INTERVAL }}
scan_interval = {{ SCAN_INTERVAL }}
api_heartbeat_interval = 300
concurrent_importings = 100

[bid]
bid_mode = 0                  # 0: manual, 1: auto
expected_sealing_time = 1920  # 1920 epoch or 16 hours. The time expected for sealing deals. Deals starting too soon will be rejected.
start_epoch = 2880            # 2880 epoch or 24 hours. Relative value to current epoch
auto_bid_deal_per_day = 0   # auto-bid deal limit per day for your miner defined above

[market]
collateral_wallet = "{{ COLLAT_WALLET }}"
publish_wallet = "{{ PUBLISH_STORAGE_DEALS_WALLET }}"
